<!-- <nav>

  <img src="" alt="numberz" width="218px" height="38px" style="margin-left: 100px; margin-top: 15px; float: left; display: inline-block;">
  <div class="row"  >
    <div class="col-md-2" data-ng-repeat="imageDataUrl in row" >
        <img alt="img" class="img-responsive" src="https://wallpaperaccess.com/full/139067.jpg" width="500" height="200"/>
        <div class="col-md-1"></div>
        <section class=" col-md-4 "style="margin-right=120px;" >
          <ul id="menu">
             <li><a href="#"><b>SIGNUP</b></a></li>
             <li><a href="#"><b>LOGIN</b></a></li>   
             <li><a href="#"><b>ACCOUNTANTS</b></a></li>
             <li><a href="#"><b>BLOG</b></a></li>
             <li><a href="#"><b>FEATURES</b></a></li>
             <li><a href="#"><b>PRICING</b></a></li>
          </ul>
        </section>
    </div>
</div>



</nav>
<header id="top" class="header">
  <div class="text-center">

      <h1><span class="typing ">Latest Products</span></h1>
      <br>
  </div>
</header>
<iframe  class="frame"width="94%" height="360" src="https://www.youtube.com/embed/qN3OueBm9F4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <p>commercial</p>

  </div>


 
  
</div>
<div class="container">
  <div class="row">
    <h4>commercial</h4>
  </div>
</div> -->
<div class="container">
  <app-products></app-products>
</div>